html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.main {
  display: block;
  min-height: 500px;
  min-width: 500px;
  text-align: center;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#tsp-canvas {
  border: 2px solid rgb(17, 97, 10);
  background: #cdcdcd;
}

.hud {
  padding: 10px 5px 0 5px;
  display: inline-block;
  color: rgb(210, 106, 55);
}

#solution {
  margin: 0 20px;
}

#start {
  margin: 0 20px;
  background-color: rgb(210, 106, 55);
  color: white;
}
